:root {
  --theme-color: #00A651;
}

.call-helpline-container {
  display: flex;
  align-items: center;
  background-color: #109c3d;
  border-radius: 0px 60px 60px 0px;
  padding: 1rem 2rem;
  color: white;
} 

 @media (min-width: 778px) and (max-width: 1025px) {

  .call-helpline-container{
    right: -44px;
    background-color: transparent;
    }
     
  .topbar{
    padding-right: 10px;
    padding-left: 10px;
  }  

  .homepr {
    padding-right: 44px;
    }

  } 